VITE_FIREBASE_API_KEY=AIzaSyAVvab3WLNqWHgiObxOKR5PO_9v5_LnFhM
VITE_FIREBASE_AUTH_DOMAIN=shop-hub-cc92a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=shop-hub-cc92a
VITE_FIREBASE_STORAGE_BUCKET=shop-hub-cc92a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=884097759528
VITE_FIREBASE_APP_ID=1:884097759528:web:c93b74e4e826945a49781d